@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97dvh;
    gap: 50px;
}

button {
    font-size: 1rem;
}

img {
    width: 350px;
}